<main class="why-caseira-section">
  <div class="section-header">
    <label class="subsection-heading">Why Choose Caseira</label>
    <div class="horizontal-divider">
      <hr />
      <img src="assets/Logos/logo-small.png" class="divider-image" />
      <hr />
    </div>
  </div>
  <div class="feature-panel">
    <div class="feature-card">
      <img
        src="assets/WhyCaseira/FarmFreshIngredients.png"
        class="feature-image"
      />
      <span classs="feature-details">
        <label class="feature-header secondary-text"
          >Farm Fresh Ingredients</label
        >
        <label class="feature-description small-helper-text"
          >Sourced from trusted farms for maximum freshness.</label
        >
      </span>
    </div>
    <div class="vertical-divider"></div>
    <div class="feature-card">
      <img
        src="assets/WhyCaseira/MeasuredPerfectly.png"
        class="feature-image"
      />
      <span classs="feature-details">
        <label class="feature-header secondary-text">Measured Perfectly</label>
        <label class="feature-description small-helper-text"
          >Exact quantities for every recipe. No waste.</label
        >
      </span>
    </div>
    <div class="vertical-divider"></div>
    <div class="feature-card">
      <img
        src="assets/WhyCaseira/LightningFastDelivery.png"
        class="feature-image"
      />
      <span classs="feature-details">
        <label class="feature-header secondary-text"
          >Lightning Fast Delivery</label
        >
        <label class="feature-description small-helper-text"
          >Delivered fresh to your doorstep in 2-4 hours.</label
        >
      </span>
    </div>
    <div class="vertical-divider"></div>
    <div class="feature-card">
      <img
        src="assets/WhyCaseira/CookWithConfidence.png"
        class="feature-image"
      />
      <span classs="feature-details">
        <label class="feature-header secondary-text"
          >Cook With Confidence</label
        >
        <label class="feature-description small-helper-text"
          >Step-by-step recipes for perfect results every time.</label
        >
      </span>
    </div>
  </div>
</main>
