<div class="customer-card">
  <span class="customer-review">
    <img src="assets/quotations.png" class="review-image" />
    <label class="small-helper-text">
      The ingredients are always so fresh and measure perfectly. Cooking has
      become so easy and enjoyable!
    </label>
  </span>
  <div class="user-reference">
    <i class="fa-solid fa-user"></i>
    <span class="user-details">
      <label class="captions-labels"> Priya Sharma </label>
      <label class="small-helper-text"> Bangalore </label>
    </span>
  </div>
</div>
