@if (!addedToCartButton()) {
  <button
    [attr.type]="buttonType()"
    class="{{ buttonClass() }} button-text {{
      addLeftRightIcons() ? 'both-icons' : ''
    }}"
    [style.--buttonWidth]="buttonWidth()"
    [disabled]="disabled()"
  >
    @if (
      (addLeftRightIcons() && iconClass()) ||
      (leftIcon() && (addIcon() || iconOnly()) && iconClass())
    ) {
      <i [attr.class]="iconClass()" class="button-icon"></i>
    }
    @if (!iconOnly()) {
      <ng-content></ng-content>
    }
    @if (
      (addLeftRightIcons() && rightIconClass()) ||
      (!leftIcon() && (addIcon() || iconOnly()) && iconClass())
    ) {
      <i
        [attr.class]="addLeftRightIcons() ? rightIconClass() : iconClass()"
        class="button-icon"
      ></i>
    }
  </button>
} @else {
  <span [class]="buttonClass() + ' add-to-cart'">
    <button
      class="minus-button"
      [disabled]="addingReducingItemFromCart"
      (click)="reduceItem()"
    >
      <i class="fa-solid fa-minus"></i>
    </button>
    @if (addingReducingItemFromCart) {
      <i class="fa-solid fa-spin fa-spinner"></i>
    } @else {
      <label>{{ quantity }}</label>
    }
    <button
      class="plus-button"
      [disabled]="addingReducingItemFromCart"
      (click)="addItem()"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
  </span>
}
