<main class="login-container">
  <div class="login-form">
    <img src="assets/Logos/logo-small.png" class="logo-small" />
    <label class="card-title-recipe-name">Welcome Back</label>
    <label class="small-helper-text"
      >Log in to continue your healthy journey.</label
    >
    <form
      [formGroup]="forgottenPasswordForm"
      (ngSubmit)="forgottenPasswordSubmission()"
    >
      <div class="form-container">
        <span class="input-container">
          <label class="captions-labels">Email</label>
          <span class="native-input no-bg-font-border-secondary">
            <i class="fa-solid fa-user"></i>
            <input
              type="email"
              placeholder="Enter email"
              formControlName="emailAddress"
            />
          </span>
        </span>
        <span class="input-container">
          <label class="captions-labels">Password</label>
          <span class="native-input no-bg-font-border-secondary">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              placeholder="Enter password"
              formControlName="password"
            />
          </span>
        </span>
        <span class="input-container">
          <label class="captions-labels">Confirm Password</label>
          <span class="native-input no-bg-font-border-secondary">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              placeholder="Confirm password"
              formControlName="confirmPassword"
            />
          </span>
        </span>
      </div>
      @if (hasErrors || errorMessage) {
        <span class="error-message small-helper-text">
          <i class="fa-solid fa-circle-info"></i
          >{{
            errorMessage ||
              constants.signInLoginConstants.PASSWORD_RESET_FAILURE_MESSAGE
          }}</span
        >
      }
      @if (forgotPasswordInProgress) {
        <shared-button
          buttonType="submit"
          buttonClass="secondary-background-primary-color-no-border medium"
          [addIcon]="true"
          iconClass="fa-solid fa-spinner fa-spin"
          buttonWidth="100%"
          class="signin-button"
          >Changing Password...</shared-button
        >
      } @else {
        <shared-button
          buttonType="submit"
          buttonClass="secondary-background-primary-color-no-border medium"
          [addIcon]="true"
          iconClass="fa-solid fa-arrow-right"
          buttonWidth="100%"
          class="signin-button"
          >Change Password</shared-button
        >
      }
    </form>
    <label class="small-helper-text"
      >Back to Login?
      <shared-button
        buttonClass="no-bg-prompt-color small-helper-text"
        [routerLink]="[
          '/auth/login',
          { queryParams: { returnUrl: returnUrl } },
        ]"
        >Sign In</shared-button
      >
    </label>
  </div>
</main>
