@switch (skeletonType()) {
  @case ("recipe-card") {
    @for (placeholder of placeholders; track $index) {
      <article class="recipe-card-skeleton-container">
        <div class="image-skeleton"></div>
        <div class="recipe-card-skeleton-details">
          <div></div>
          <div  [style.width.%]="30"></div>
          <div  [style.width.%]="60"></div>
        </div>
      </article>
    }
  }
  @case ("row-skeleton") {
    <div>
      @for (placeholder of placeholders; track $index) {
        <div></div>
      }
    </div>
  }
  @case ("image") {
    <div class="image-skeleton-list-container">
      @for (placeholder of placeholders; track $index) {
        <div class="image-skeleton"></div>
      }
    </div>
  }
  @case ("todays-special") {
    <main class="todays-special-skeleton-container">
      <div class="todays-special-skeleton-details">
        <div class="section-title-skeleton"></div>
        <div class="recipe-title-skeleton"></div>
        <div class="ratings-skeleton"></div>
        <div class="specifications-skeleton"></div>
        <div class="description-skeleton"></div>
        <div class="description-skeleton short"></div>
        <div class="price-skeleton"></div>
        <div class="todays-special-skeleton-actions">
          <div class="action-skeleton"></div>
          <div class="action-skeleton"></div>
        </div>
        <div class="todays-special-skeleton-features">
          <div class="feature-skeleton"></div>
          <div class="feature-skeleton"></div>
          <div class="feature-skeleton"></div>
        </div>
      </div>
      <div class="todays-special-image-skeleton"></div>
    </main>
  }
  @default {}
}
