<section class="pagination-section">
  <shared-button
    class="pagination-first-button"
    buttonClass="no-bg-secondary-color"
    [iconOnly]="true"
    iconClass="fa-solid fa-angles-left"
    aria-label="Go to first page"
    title="First page"
    (click)="goToFirstPage()"
    [disabled]="activePage === 1"
  ></shared-button>
  <shared-button
    class="pagination-previous-button"
    buttonClass="no-bg-secondary-color"
    [iconOnly]="true"
    iconClass="fa-solid fa-angle-left"
    aria-label="Go to previous page"
    title="Previous page"
    (click)="goToPreviousPage()"
    [disabled]="activePage === 1"
  ></shared-button>
  <span class="page-numbers-container">
    @for (page of generatePaginationRange(); track $index) {
      @if (typeof page === "number") {
        <span
          class="page-number"
          (click)="selectPage(page)"
          [ngClass]="isPageActive(page) ? 'active-page' : ''"
          >{{ page }}</span
        >
      } @else {
        <span class="page-number pagination-ellipsis">{{ page }}</span>
      }
    }
  </span>
  <shared-button
    class="pagination-next-button"
    buttonClass="no-bg-secondary-color"
    [iconOnly]="true"
    iconClass="fa-solid fa-angle-right"
    aria-label="Go to next page"
    title="Next page"
    (click)="goToNextPage()"
    [disabled]="activePage === totalPages()"
  ></shared-button>
  <shared-button
    class="pagination-last-button"
    buttonClass="no-bg-secondary-color"
    [iconOnly]="true"
    iconClass="fa-solid fa-angles-right"
    aria-label="Go to last page"
    title="Last page"
    (click)="goToLastPage()"
    [disabled]="activePage === totalPages()"
  ></shared-button>
</section>
