<main class="main-section">
  <div class="hero-page">
    <section class="website-details">
      <div class="website-name">
        <div>
          <span class="secondary hero-heading">Your Recipe,</span>
          <span class="prompt hero-heading">Delivered.</span>
        </div>
        <span class="sub-header body-paragraph"
          >Get fresh, high-quality ingredients delivered to your doorstep and
          cook authentic recipes at home.</span
        >
        <div class="flex button-pannel">
          <shared-button
            buttonClass="secondary-background-primary-color-no-border large"
            routerLink="/recipe/all"
            >Browse Recipes</shared-button
          >
          <shared-button
            buttonClass="primary-background-secondary-color-border large"
            routerLink="/ingredients"
            >Shop Ingredients</shared-button
          >
        </div>
        @if (constants.globalScreenWidth() > 900) {
          <div class="features-panel">
            <span class="feature-card">
              <img
                src="assets/HeroPage/FreshAndHighQuality.png"
                class="feature-image"
              />
              <label class="feature-label small-helper-text"
                >Fresh and High Quality</label
              >
            </span>
            <div class="vertical-divider"></div>
            <span class="feature-card">
              <img
                src="assets/HeroPage/ExactQualityForEachRecipe.png"
                class="feature-image"
              />
              <label class="feature-label small-helper-text"
                >Exact Quality for Recipes</label
              >
            </span>
            <div class="vertical-divider"></div>
            <span class="feature-card">
              <img
                src="assets/HeroPage/DeliveredInTime.png"
                class="feature-image"
              />
              <label class="feature-label small-helper-text"
                >Delivered in 2-4 hours</label
              ></span
            >
          </div>
        }
      </div>
    </section>
    <section>
      <img src="assets/HeroPage/main_background.png" class="main-background" />
    </section>
  </div>
  @if (constants.globalScreenWidth() <= 900) {
    <div class="features-panel">
      <span class="feature-card">
        <img
          src="assets/HeroPage/FreshAndHighQuality.png"
          class="feature-image"
        />
        <label class="feature-label small-helper-text"
          >Fresh and High Quality</label
        >
      </span>
      <div class="vertical-divider"></div>
      <span class="feature-card">
        <img
          src="assets/HeroPage/ExactQualityForEachRecipe.png"
          class="feature-image"
        />
        <label class="feature-label small-helper-text"
          >Exact Quality for Recipes</label
        >
      </span>
      <div class="vertical-divider"></div>
      <span class="feature-card">
        <img src="assets/HeroPage/DeliveredInTime.png" class="feature-image" />
        <label class="feature-label small-helper-text"
          >Delivered in 2-4 hours</label
        ></span
      >
    </div>
  }
  <section class="procedure-section">
    <label class="subsection-heading"> How It Works </label>
    <div class="procedure-panel">
      <div class="procedure-card">
        <img src="assets/HeroPage/SelectRecipe.png" class="procedure-image" />
        <div class="procedure-details">
          <span class="captions-labels">1.Choose Recipe</span>
          @if (constants.globalScreenWidth() > 900) {
            <span class="small-helper-text"
              >Choose from a wide range of delicious recipes</span
            >
          }
        </div>
      </div>
      @if (constants.globalScreenWidth() > 900) {
        <i class="fa-solid fa-arrow-right"></i>
      }
      <div class="procedure-card">
        <img src="assets/HeroPage/WePack.png" class="procedure-image" />
        <div class="procedure-details">
          <span class="captions-labels">2.We Pack</span>
          @if (constants.globalScreenWidth() > 900) {
            <span class="small-helper-text"
              >We pack exact ingredients in perfect quantities</span
            >
          }
        </div>
      </div>
      @if (constants.globalScreenWidth() > 900) {
        <i class="fa-solid fa-arrow-right"></i>
      }
      <div class="procedure-card">
        <img src="assets/HeroPage/WeDeliver.png" class="procedure-image" />
        <div class="procedure-details">
          <span class="captions-labels">3.We Deliver</span>
          @if (constants.globalScreenWidth() > 900) {
            <span class="small-helper-text"
              >Fresh ingredients delivered to your doorstep</span
            >
          }
        </div>
      </div>
      @if (constants.globalScreenWidth() > 900) {
        <i class="fa-solid fa-arrow-right"></i>
      }
      <div class="procedure-card">
        <img src="assets/HeroPage/CookAndEnjoy.png" class="procedure-image" />
        <div class="procedure-details">
          <span class="captions-labels">4.Cook and Enjoy</span>
          @if (constants.globalScreenWidth() > 900) {
            <span class="small-helper-text"
              >Cook and enjoy delicious homemade meals.</span
            >
          }
        </div>
      </div>
    </div>
  </section>
  <hr class="horizontal-divider" />
</main>
