<span [class]="inputClass()">
  @if (leftIcon() && (addIcon() || iconOnly()) && iconClass()) {
    <i [attr.class]="iconClass()"></i>
  }
  <input
    [placeholder]="placeholderText()"
    [type]="inputType()"
    [value]="isCheckbox ? '' : value"
    [checked]="isCheckbox ? !!value || inputChecked() : false"
    [disabled]="isDisabled"
    (input)="inputType() === 'date' ? null : onInputChange($event)"
    (change)="inputType() === 'date' ? onInputChange($event) : null"
    (blur)="onTouched()"
    [(ngModel)]="value"
  />
  @if (!leftIcon() && (addIcon() || iconOnly()) && iconClass()) {
    <i [attr.class]="iconClass()"></i>
  }
</span>
