@if (recipeDetails) {
  <main class="overview-section">
    <section class="ingredients">
      <span class="section-header">
        <label class="card-title-recipe-name"><b>Ingredients</b></label>
        <img src="assets/header_icon.png" class="header-icon" />
      </span>
      <div class="ingredients-list-container">
        @for (section of recipeDetails.ingredients; track $index) {
          <span class="ingredient-item-list">
            @for (
              itemIngredient of section | keyvalue;
              track itemIngredient.key
            ) {
              <span class="item-ingredients-list">
                <shared-tags
                  tagClass="secondary-bg-primary-color-no-border"
                  [tagName]="itemIngredient.key"
                ></shared-tags>
              </span>
              <ul class="ingredient-list">
                @for (ingredient of itemIngredient.value; track $index) {
                  <li class="captions-labels">
                    {{ ingredient.ingredient_name }}
                  </li>
                }
              </ul>
            }
          </span>
          @if (!$last) {
            <div class="vertical-divider"></div>
          }
        }
      </div>
      @if (recipeInCart) {
        <shared-button
          buttonClass="light larger"
          [addedToCartButton]="true"
          [recipeId]="recipeDetails.recipe_id"
          buttonWidth="100%"
          (recipeDeleted)="removeRecipeFromCart()"
        ></shared-button>
      } @else if (addingRecipeToCart) {
        <shared-button
          buttonClass="no-bg-secondary-color-muted-secondary-border larger"
          [addIcon]="true"
          iconClass="pi pi-spin pi-spinner"
          [leftIcon]="true"
          buttonWidth="100%"
          [disabled]="true"
          >Adding ingredients to Cart...</shared-button
        >
      } @else {
        <shared-button
          buttonClass="no-bg-secondary-color-muted-secondary-border larger"
          [addIcon]="true"
          iconClass="pi pi-shopping-cart"
          [leftIcon]="true"
          class="add-to-cart-button"
          buttonWidth="100%"
          (click)="addRecipeToCart()"
          >Add all ingredients to cart</shared-button
        >
      }
    </section>
    <section class="both-rows">
      <section class="nutrition-section">
        <span class="section-header">
          <label class="card-title-recipe-name"><b>Nutrition</b></label>
          <img src="assets/header_icon.png" class="header-icon" />
        </span>
        @for (
          section of recipeDetails.nutrition_details.slice(0, 3) | keyvalue;
          track $index
        ) {
          @for (nutrition of section.value | keyvalue; track $index) {
            <span class="nutrition-item">
              <label class="secondary-text nutrition-key">{{
                nutrition.key
              }}</label>
              <label class="secondary-text nutrition-value">{{
                nutrition.value
              }}</label>
            </span>
          }
        }
        <shared-button
          buttonClass="no-bg-secondary-color-muted-secondary-border larger"
          [addIcon]="true"
          iconClass="pi pi-arrow-right"
          buttonWidth="100%"
          [routerLink]="['/recipe', recipeDetails.recipe_id, 'nutrition']"
          >Full Nutrition Info</shared-button
        >
      </section>
      <section class="more-recipes-section">
        <span class="section-header">
          <label class="card-title-recipe-name"><b>More Recipes</b></label>
          <img src="assets/header_icon.png" class="header-icon" />
        </span>
        @for (recipe of recommendedRecipes; track $index) {
          <shared-recipe-card
            [recipeId]="recipe.recipe_id"
            [recipeName]="recipe.recipe_name"
            [recipeRating]="recipe.ratings"
            [timeToCook]="recipe.total_time"
            [noOfPeopleServes]="recipe.no_of_people_served"
            [noOfIngredients]="recipe.ingredients_count"
            [kitPrice]="recipe.kit_price"
            [imageUrl]="recipe.image_url"
            cardDirection="row"
            class="recipe-card"
          ></shared-recipe-card>
        }
        <shared-button
          buttonClass="no-bg-secondary-color-muted-secondary-border larger"
          [addIcon]="true"
          iconClass="pi pi-arrow-right"
          routerLink="/recipe/all"
          >View All Recipes</shared-button
        >
      </section>
      <section class="review-section">
        <span class="section-header">
          <label class="card-title-recipe-name"
            ><b>Loved this recipe?</b></label
          >
          <img src="assets/header_icon.png" class="header-icon" />
        </span>
        <label class="body-paragraph review-subtitle"
          >Share your experience with this recipe and help others discover the
          joy of cooking!</label
        >
        <span class="body-paragraph">
          @for (review of getRange(recipeDetails.ratings); track review) {
            <i class="pi pi-star-fill"></i>
          }
          @if (hasHalfStar(recipeDetails.ratings)) {
            <i class="pi pi-star-half"></i>
          }
          @for (review of getRange(5 - recipeDetails.ratings); track review) {
            <i class="pi pi-star"></i>
          }
          <label class="body-paragraph review-count"
            >({{ recipeDetails.review_count }} reviews)</label
          >
        </span>
        <shared-button
          buttonClass="secondary-background-primary-color-no-border larger"
          (click)="displayReviewPopUp()"
          >Write a Review</shared-button
        >
      </section>
    </section>
    <section class="recipe-directions">
      <span class="section-header">
        <label class="card-title-recipe-name"><b>Step by Step</b></label>
        <img src="assets/header_icon.png" class="header-icon" />
      </span>
      <div class="recipe-item-details-container">
        <div class="recipe-item-details">
          @for (item of recipeDetails.recipe_items; track $index) {
            <div class="item-container">
              <span class="body-paragraph direction-index"
                >{{ $index + 1 }}.</span
              >
              <div class="item-details">
                <label class="body-paragraph"
                  ><b>{{ item.item_name }}</b></label
                >
                <label class="captions-labels">{{
                  item.item_description
                }}</label>
              </div>
              @if (!$last) {
                <div class="vertical-divider"></div>
              }
            </div>
          }
        </div>
        <shared-button
          buttonClass="no-bg-secondary-color-muted-secondary-border larger"
          [addIcon]="true"
          iconClass="pi pi-arrow-right"
          buttonWidth="100%"
          [routerLink]="['/recipe', recipeDetails.recipe_id, 'directions']"
          >View Details</shared-button
        >
      </div>
    </section>
  </main>

  @if (showReviewPopUp) {
    <shared-pop-up
      popUpHeader="Review"
      [addIcon]="true"
      iconClass="pi pi-comment"
      (confirmPopUpEvent)="confirmReviewPopUp()"
      (dismissPopUpEvent)="closeReviewPopUp()"
    >
      <div class="ratings-container">
        @for (rating of ratings; track rating.index) {
          <shared-button
            [iconOnly]="true"
            [iconClass]="rating.filled ? 'pi pi-star-fill' : 'pi pi-star'"
            (click)="addRating(rating.index)"
          ></shared-button>
        }
      </div>
      <textarea
        [placeholder]="'Share your experience...'"
        class="review-input secondary-text"
        [(ngModel)]="recipeComments"
      ></textarea>
    </shared-pop-up>
  }
}
